*~
*.o
*.so
*.lo
*.a
*.la
*.loT
*.orig
*.rej
.libs
.deps
*.dirstamp
.\#*
\#*
*.user
*.suo
*.ncb
*.pdb
*.map
*.lib
*.obj
*.idb
*.res
*.exp
*.exe
*.manifest
*.dep
*.dll
*.sbr
*.ilk
*.bsc
*.pch
*.opensdf
*.tar
*.gz
*.tgz
*.xz
*.bz2
*.tbz2
*.deb
*.swp
*.serial
aclocal.m4
autom4te.cache
config.cache
configure.lineno
config.log
config.status
test-driver
core.*
TAGS
*.2010.log
*.Build.CppClean.log
*.tlog
*.unsuccessfulbuild
*.cache
*.lastbuildstate
*.sdf

/w32/Library/lastversion
/w32/Library/tmpVersion.Bat
!/w32/Console/FreeSwitchConsole.vcproj.user
!/w32/Setup/inno_setup/vcredist_x64.exe
!/w32/Setup/inno_setup/vcredist_x86.exe

/.version
/.stamp-*
/a.out.dSYM
/AUTHORS
/ChangeLog
/configure
/COPYING
/freeswitch
/fs_cli
/fs_encode
/fs_ivrd
/libtool
/Makefile
/Makefile.in
/modules.conf
/NEWS
/noreg
/Path
/quiet_libtool
/README
/TAGS
/tone2wav

/All/
Debug/
/bin/
Release/
/ipch/
/*.log

/build/config/compile
/build/config/config.guess
/build/config/config.sub
/build/config/depcomp
/build/config/install-sh
/build/config/ltmain.sh
/build/config/missing
/build/freeswitch.pc
/build/getlib.sh
/build/getg729.sh
/build/getsounds.sh
/build/Makefile
/build/Makefile.in
/build/print_git_revision

/libs/curl/lib/ca-bundle.h
/libs/esl/fs_cli
/libs/esl/fs_ivrd
/libs/esl/testclient
/libs/esl/testserver
/libs/freetdm/detect_dtmf
/libs/freetdm/detect_tones
/libs/freetdm/testanalog
/libs/freetdm/testapp
/libs/freetdm/testcid
/libs/freetdm/testpri
/libs/freetdm/testr2
/libs/freetdm/testsangomaboost
/libs/freetdm/testtones
/libs/fsg729-*-installer
/libs/g729/
/libs/libcodec2/compile
/libs/libcodec2/config.guess
/libs/libcodec2/config.sub
/libs/libcodec2/configure
/libs/libcodec2/depcomp
/libs/libcodec2/install-sh
/libs/libcodec2/libtool
/libs/libcodec2/ltmain.sh
/libs/libcodec2/Makefile
/libs/libcodec2/Makefile.in
/libs/libcodec2/missing
/libs/libcodec2/src/Makefile
/libs/libcodec2/src/Makefile.in
/libs/libcodec2/unittest/Makefile
/libs/libcodec2/unittest/Makefile.in
/libs/mpg123-1.13.2/
/libs/spandsp/src/cielab_luts.h
/scripts/fsxs
/scripts/gentls_cert

/src/mod/applications/mod_easyroute/Makefile
/src/mod/applications/mod_hash/Makefile
/src/mod/applications/mod_hash/Makefile.in
/src/mod/applications/mod_hash/mod_hash.log
/src/mod/applications/mod_lcr/Makefile
/src/mod/applications/mod_nibblebill/Makefile
/src/mod/applications/mod_osp/Makefile
/src/mod/applications/mod_osp/Makefile.in
/src/mod/applications/mod_rss/Makefile
/src/mod/applications/mod_snipe_hunt/Makefile
/src/mod/codecs/mod_com_g729/Makefile
/src/mod/codecs/mod_com_g729/Makefile.in
/src/mod/codecs/mod_dahdi_codec/Makefile
/src/mod/dialplans/mod_dialplan_directory/Makefile
/src/mod/formats/mod_shell_stream/Makefile
/src/mod/languages/mod_lua/mod_lua_wrap.cpp.orig
/src/mod/languages/mod_perl/mod_perl_wrap.cpp.orig
/src/mod/languages/mod_python/mod_python_wrap.cpp.orig
/src/mod/say/mod_say_de/Makefile
/src/mod/say/mod_say_es/Makefile
/src/mod/say/mod_say_fr/Makefile
/src/mod/say/mod_say_it/Makefile
/src/mod/say/mod_say_nl/Makefile
/src/mod/say/mod_say_th/Makefile
/src/mod/say/mod_say_zh/Makefile
/src/mod/languages/mod_v8/Makefile
/src/mod/languages/mod_v8/Makefile.in
/src/mod/languages/mod_v8/mod_v8.log

src/mod/modules.inc

BuildLog.htm

!/libs/win32/
!/libs/speex/win32/
!/src/mod/endpoints/mod_gsmopen/gsmlib/gsmlib-1.10-patched-13ubuntu/win32/
*.suo
*.sdf
x64/
ipch/


/libs/xmlrpc-c/tools/xml-rpc-api2txt

/w32/Setup/obj
*dSYM*

/UpgradeLog.*
/_UpgradeReport_Files/
*.aps
/w32/Library/switch_version.inc
/w32/Setup/Fragments

/libs/win32/mpg123/Win32/Debug_Generic/libmpg123.*.log
/libs/win32/mpg123/Win32/Release_Generic/libmpg123.*.log
/libs/win32/pthread/Win32/Debug DLL/pthread.*.log
/libs/win32/pthread/Win32/Release DLL/pthread.*.log
/src/mod/codecs/mod_amr/Win32/Debug Passthrough/mod_amr.*.log
/src/mod/codecs/mod_amr/Win32/Release Passthrough/mod_amr.*.log
/src/mod/codecs/mod_g723_1/Win32/Debug Passthrough/mod_g723_1.*.log
/src/mod/codecs/mod_g723_1/Win32/Release Passthrough/mod_g723_1.*.log
/src/mod/codecs/mod_g729/Win32/Debug Passthrough/mod_g729.*.log
/src/mod/codecs/mod_g729/Win32/Release Passthrough/mod_g729.*.log
/src/mod/directories/mod_ldap/Win32/Debug MS-LDAP/mod_ldap.*.log
/src/mod/directories/mod_ldap/Win32/Release MS-LDAP/mod_ldap.*.log
/src/mod/languages/mod_managed/Win32/Debug_CLR/mod_managed.*.log
/src/mod/languages/mod_managed/Win32/Release_CLR/mod_managed.*.log

/src/.dirstamp
/src/mod/languages/mod_v8/src/.dirstamp

libs/libsndfile/Scripts/build-test-tarball.mk
libs/libsndfile/doc/libsndfile.css
libs/libsndfile/echo-install-dirs
libs/libsndfile/src/ALAC/.dirstamp
libs/libsndfile/src/G72x/.dirstamp
libs/libsndfile/src/GSM610/.dirstamp
libs/libsndfile/src/Symbols.gnu-binutils
libs/libsndfile/src/Symbols.static
libs/libsndfile/src/version-metadata.rc
libs/libsndfile/tests/pedantic-header-test.sh
yum/RPMS
yum/temp
html5/verto/verto_communicator/bower_components/
html5/verto/verto_communicator/node_modules/
.vs/
.idea/compiler.xml
.idea/copyright/
.idea/freeswitch.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml


.clang-format
.gitattributes
.gradle/
.idea/
.mailmap
Freeswitch.2015.sln
Freeswitch.2015.sln.bat
INSTALL
Makefile.am
acinclude.m4
autoload_configs/abstraction.conf.xml
autoload_configs/alsa.conf.xml
autoload_configs/amqp.conf.xml
autoload_configs/avmd.conf.xml
autoload_configs/blacklist.conf.xml
autoload_configs/callcenter.conf.xml
autoload_configs/cdr_csv.conf.xml
autoload_configs/cdr_mongodb.conf.xml
autoload_configs/cdr_pg_csv.conf.xml
autoload_configs/cdr_sqlite.conf.xml
autoload_configs/cepstral.conf.xml
autoload_configs/cidlookup.conf.xml
autoload_configs/conference_layouts.conf.xml
autoload_configs/console.conf.xml

autoload_configs/dingaling.conf.xml
autoload_configs/distributor.conf.xml
autoload_configs/easyroute.conf.xml
autoload_configs/enum.conf.xml
autoload_configs/erlang_event.conf.xml
autoload_configs/event_multicast.conf.xml
autoload_configs/event_socket.conf.xml
autoload_configs/fax.conf.xml
autoload_configs/format_cdr.conf.xml
autoload_configs/graylog2.conf.xml
autoload_configs/hash.conf.xml
autoload_configs/hiredis.conf.xml
autoload_configs/httapi.conf.xml
autoload_configs/http_cache.conf.xml
autoload_configs/java.conf.xml
autoload_configs/kazoo.conf.xml
autoload_configs/lcr.conf.xml
autoload_configs/local_stream.conf.xml
autoload_configs/logfile.conf.xml
autoload_configs/memcache.conf.xml
autoload_configs/mongo.conf.xml
autoload_configs/msrp.conf.xml
autoload_configs/nibblebill.conf.xml
autoload_configs/opal.conf.xml
autoload_configs/opus.conf.xml
autoload_configs/oreka.conf.xml
autoload_configs/osp.conf.xml
autoload_configs/perl.conf.xml
autoload_configs/pocketsphinx.conf.xml
autoload_configs/portaudio.conf.xml
autoload_configs/post_load_modules.conf.xml
autoload_configs/presence_map.conf.xml
autoload_configs/python.conf.xml
autoload_configs/redis.conf.xml
autoload_configs/rss.conf.xml
autoload_configs/rtmp.conf.xml
autoload_configs/sangoma_codec.conf.xml
autoload_configs/shout.conf.xml
autoload_configs/skinny.conf.xml
autoload_configs/smpp.conf.xml
autoload_configs/sms_flowroute.conf.xml
autoload_configs/spandsp.conf.xml
autoload_configs/syslog.conf.xml
autoload_configs/timezones.conf.xml
autoload_configs/translate.conf.xml
autoload_configs/tts_commandline.conf.xml
autoload_configs/unicall.conf.xml
autoload_configs/unimrcp.conf.xml
autoload_configs/v8.conf.xml
autoload_configs/voicemail.conf.xml
autoload_configs/voicemail_ivr.conf.xml
autoload_configs/xml_cdr.conf.xml
autoload_configs/xml_scgi.conf.xml
autoload_configs/zeroconf.conf.xml
bootstrap.sh
build/
cc.sh
chatplan/
clients/
cluecon.tmpl
cluecon2.tmpl
cluecon2_small.tmpl
cluecon_small.tmpl
cmake_modules/
configure.ac
debian/
devel-bootstrap.sh
dialplan/features.xml
dialplan/leaders.xml
dialplan/public.xml
dialplan/skinny-patterns.xml
dialplan/skinny-patterns/
dialplan/default/
dialplan/public/
directory/default/gudongsheng.xml
directory/default/lijinfeng.xml
docs/
dtd/
erlang.spec
extensions.conf
fail2ban/
fonts/
freeswitch-config-rayo.spec
freeswitch-sounds-en-ca-june.spec
freeswitch-sounds-en-us-callie.spec
freeswitch-sounds-fr-ca-june.spec
freeswitch-sounds-music.spec
freeswitch-sounds-pt-BR-karina.spec
freeswitch-sounds-ru-RU-elena.spec
freeswitch-sounds-sv-se-jakob.spec
freeswitch.spec
freeswitch.xml
fscomm/
fur_elise.ttml
gitlog
htdocs/
html5/
images/
ivr_menus/
jingle_profiles/
lang/
libs/
mime.types
mrcp_profiles/
notify-voicemail.tpl
scripts/
skinny_profiles/
support-d/
swig_common.i
tests/
tetris.ttml
tls/
vars.xml
voicemail.tpl
w32/
web-vm.tpl
web/
yum/
conf/